<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <system.serviceModel>
        <bindings>
            <wsHttpBinding>
                <binding name="WSHttpBinding_IHistoryService" />
                <binding name="WSHttpBinding_IStaffingService" />
                <binding name="WSHttpBinding_IFileService" />
            </wsHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:8733/history/" binding="wsHttpBinding"
                bindingConfiguration="WSHttpBinding_IHistoryService" contract="HistoryService.IHistoryService"
                name="WSHttpBinding_IHistoryService">
                <identity>
                    <dns value="localhost" />
                </identity>
            </endpoint>
            <endpoint address="http://localhost:8733/staffing/" binding="wsHttpBinding"
                bindingConfiguration="WSHttpBinding_IStaffingService" contract="StaffingService.IStaffingService"
                name="WSHttpBinding_IStaffingService">
                <identity>
                    <dns value="localhost" />
                </identity>
            </endpoint>
            <endpoint address="http://localhost:8733/storage/" binding="wsHttpBinding"
                bindingConfiguration="WSHttpBinding_IFileService" contract="StorageService.IFileService"
                name="WSHttpBinding_IFileService">
                <identity>
                    <dns value="localhost" />
                </identity>
            </endpoint>
        </client>
    </system.serviceModel>
</configuration>